@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.dino {
    left:0;
    top:0;
}
	
.caption {
	z-index:100;
    position:absolute;
	bottom:0;    
    color:white;
	font-family:"Times New Roman", Times, serif;
    font-size:22px;
    font-weight:bold;
    left: 40px;
	
}

.dino-titles{
	
}


.list-titles {
	float: left;
	margin: 50px;
	border: ;
	padding: 20px;
	color:#999; 	
	
}

.second-titles {
	float: left;
	margin:100px;
		
}


.figure{
position: relative;

}

